/*selector universal*/
{
    padding: 0 auto;
    margin: 0 auto;
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
}

#encabezado{
    height: 15%;
    background-color:rgb(230,200,149);
    margin: 1em auto;
    text-align: center;
}

#menu{
    height: 5%;
    margin: 1em;
    background-color: rgb(171,161,134); 
    text-align: center;
}

#seccion{
    height: 64%;
    width: 60%;
    background-color:rgb(151,158,54);
    margin: 0.5em;
    float: left;
}

#aseccion{
    height: 64%;
    width: 35%;
    background-color: rgb(190,193,79);
    margin: 0.5em;
    margin-left: 1%;
    float: right;
}

#pie{
    height: 10%;
    height: 5%;
    border-radius: 1em;
    margin: 1.5 em;
    text-align: center;
}


/*selector de clase*/
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
}


.encabezado2{
    text-align: left;
    color: black;
    margin: top 1em;
    margin-left: 1.5%;
}

.imagenes{
    display: block;
    border: 1px solid #ddd; /color en hexadecimal/
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 150px;

}


.menu{
    text-align: center;
}

/*selector de etiqueta*/

ul{
    text-align: center;
    }
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

picture{
    width: 100px;
    margin-top: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}